.form{
  width: 99%;
  height: 500px;
  top: -7px;
  position: relative;
  border: 1px solid rgba(0,0,0,.03);
}

.form-content{
  padding: 10px;
}

.row-div{
  display: flex;
  flex-direction: row;
}

.input-vertical{
  flex: 1;
  margin: 0px 5px 0px 5px;
}

.toolbar-btn{
  width: 225px;
  height: 50px;
  margin: 15px;

}

.btn-text{
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 20px;
  font-weight:normal;
}
