<form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">
  <div class="pop-out-form">
    <!--  header-->
    <app-login-header></app-login-header>

    <div class="form-content">
      <div class="row-div">
        <mat-form-field class="input-vertical">
          <input matInput placeholder="Login" #userlogin="ngModel" label="Description" ngModel name="login" required>
        </mat-form-field>
      </div>
      <li *ngIf="userlogin.errors?.required && userlogin.touched">Login is required</li>
      <br>

      <div class="row-div">

        <mat-form-field class="input-vertical">
          <input matInput placeholder="Password" #userpassword="ngModel"
                 type="password" class="input-vertical" ngModel name="password" required >
        </mat-form-field>
      </div>
      <li *ngIf="userpassword.errors?.required && userpassword.touched">Password is required</li>
    </div>

    <app-login-toolbar></app-login-toolbar>
  </div>
</form>



