<!--Not working image-->
<!--<img src="../src/images/ny.jpg" alt="image" height="42" width="42">-->

<form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">
  <div class="pop-out-form">
    <!--  header-->
    <app-login-header></app-login-header>

    <div class="form-content">
      <div class="row-div">
        <mat-form-field class="input-vertical">
          <input matInput placeholder="Username" #username="ngModel" label="Description" ngModel name="username" required>
        </mat-form-field>
      </div>
      <br>

      <div class="row-div">

        <mat-form-field class="input-vertical">
          <input matInput placeholder="Password" #password="ngModel"
                 type="password" class="input-vertical" ngModel name="password" required >
        </mat-form-field>
      </div>
    </div>

    <!-- Toolbar-->
    <app-login-toolbar></app-login-toolbar>
  </div>
</form>



