/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primary {
  color:#673ab7;
}

.primary-background {
  background-color:#673ab7;
}

.soft {
  color:#be96e3;
}

.soft-background {
  background-color:#be96e3;
}

.clear {
  color:#c9cfd4;
}

.clear-background {
  background-color:#c9cfd4;
}

.dark {
  color:#797979;
}

.dark-background {
  background-color:#797979;
}

.white {
  color:white;
}

.white-background {
  background-color:white;
}
